/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@400;600;700&display=swap');


*{
    margin:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header{
    max-width: 1180px;
    margin: 80px auto;
}
.logo-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-content h3{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}
.logo-navbar nav > ul{
    display: flex;
    gap: 34px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.banner-container{
    background-image: url('../Assets/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-top: 100px;
    gap: 120px;
}
.banner-content{
    margin-top: 30px;
}
.banner-content h2{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.banner-content p{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
}
.banner-content button{
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    border: none;
    padding: 15px 24px;    
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.banner-img{
    margin-top: 53px;
    margin-right: 15px;
}
.banner-img img{
    
}
/* Main Section Style */
main{
    max-width: 1180px;
    margin: 0 auto;
}
/* Popular Brand Style */
.popular-brand{
    display: flex;
    justify-content: center;

}
.brand-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 60px;
    margin-top: 100px;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
}


/* Popular Collection Style */
.popular-collection{
    margin-top: 100px;
}
.popular-collection-title{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.product-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.product-content{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 14px 17px;
}
.product-content h2{
    color: var(--text-gray-900, #18191F);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}
.product-content h3{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.product-content p{
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}
.product-content p i{
    color: #FB8200;
}
.product-content p i:last-child{
    margin-right: 10px;
}
.product-content h5{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%; 
    letter-spacing: 0.252px;
}
.collection-button{
    display: flex;
    justify-content: end;
}
.collection-button button{
    margin-top: 50px;
    padding: 15px 20px;
    color: #E02C6DDE;
    background: #fff;
    font-size: 16px;
    border: none;
    display: flex;
    gap: 10px;
    font-weight: 700;
    cursor: pointer;
}


/* Feature Style */
.feature-products{
    display: flex;
    flex-direction: row;
    gap: 95px;
    padding: 100px 0;
}

.feature-content h3{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}
.feature-content p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}
.feature-content button{
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 15px 24px;
    margin-top: 16px;
    cursor: pointer;
}
.feature-content button>i{
    margin-left: 10px;
}


/* Footer Style */
footer{
    background: #0A0826;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}
.footer h3{
    font-size: 24px;
    font-weight: 700;
}
.footer p{
    color: #D9DBE1;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;

}
.social-icon{
    margin-top: 15px;
}

.social-icon i{
    color: #fff;
    padding: 15px;
    background-color: #22213C;
    border-radius: 50%;
    font-size: 32px;
    height: 32px;
    width: 32px;
    margin-right: 15px;
}

/*Responsive Style  */

@media screen and (max-width: 576px) {
    .banner-container{
        background-image: url('../Assets/images/Circle\ design.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 30px;
        gap: 40px;
        padding: 0 15px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .banner-content{
        text-align: center;
        margin-top: 40px;
    }
    .banner-content h2{
        color: #3A3A3A;
        font-size: 28px;
        line-height: normal;
    }
    .banner-content p{
        color: #3A3A3A;
        font-size: 14px;
        font-weight: 500;
    }
    .banner-img img{
        width: 80%;
        margin-left: 30px;
    }
    .logo-navbar{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .logo-navbar nav > ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
        justify-content: center;   
    }
    .logo-navbar nav > ul li:nth-child(5){
        grid-column-start:  2;
    }
    .brand-logo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 0;
    }
    .brand-logo img{
        width: 20%;
    }
    .popular-collection{
        margin-top: 50px;
    }
    .popular-collection-title{
        font-size: 16px;
    }
    .product-container{
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .product-content h2,
    .product-content h3{
        font-weight: 700;
    }
    .feature-products{
        flex-direction: column-reverse;
        gap: 30px;
        padding: 0 15px;
        margin: 50px 0;
        justify-content: center;
    }
    .feature-content{
        text-align: center;
    }
    .feature-content h3{
        font-size: 24px;
    }
    .feature-content p{
        font-size: 16px;
    }
    .feature-img img{
        width: 100%;
    }

    .footer h3{
        font-size: 16px;
    }
    .footer p{
        font-size: 12px;
    }
    .social-icon i{
        color: #fff;
        padding: 10px;
        background-color: #22213C;
        border-radius: 50%;
        font-size: 24px;
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }
    
}